* {
    text-decoration: none;
    padding: 0%;
    margin: 0%;
}



.dropbtn {
    background-color: black;
    color: crimson;
    padding: 5px 17px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 0px 0px 8px 8px;
}

.dropbtn:hover {
    background-color: crimson;
    color: white;
}


#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: -11px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: crimson;
    color: white;
}

.show {
    display: block;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: gray;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}




.topnav {
    overflow: hidden;
    background-color: ;
    color: #111;
   
}
    


    


.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 22px;
}

.topnav a:hover {
    background-color: darkgreen;
    color: white;
}

.topnav a.active {
    background-color: darkgreen;
    color: white;
    padding: 8px;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}


.gradient-custom {
    background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, green 100%),
      linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
      linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
      radial-gradient(100% 164.72% at 100% 100%, darkgreen 0%, #00ff57 100%),
      radial-gradient(100% 148.07% at 0% 0%, darkgreen 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
  }
  .carousel-indicators {
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }


  .carouselExampleControls{
    padding:5%;
}





.Mainul{
display: flex;
justify-content: space-evenly;
align-items: center;
}

